		$close-name: 'close';
		$close-x: 309px;
		$close-y: 0px;
		$close-offset-x: -309px;
		$close-offset-y: 0px;
		$close-width: 42px;
		$close-height: 41px;
		$close-total-width: 351px;
		$close-total-height: 258px;
		$close-image: '../images/sprite.png';
		$close: (309px, 0px, -309px, 0px, 42px, 41px, 351px, 258px, '../images/sprite.png', 'close', );
		$date-icon-name: 'date-icon';
		$date-icon-x: 180px;
		$date-icon-y: 116px;
		$date-icon-offset-x: -180px;
		$date-icon-offset-y: -116px;
		$date-icon-width: 44px;
		$date-icon-height: 44px;
		$date-icon-total-width: 351px;
		$date-icon-total-height: 258px;
		$date-icon-image: '../images/sprite.png';
		$date-icon: (180px, 116px, -180px, -116px, 44px, 44px, 351px, 258px, '../images/sprite.png', 'date-icon', );
		$detail-left-name: 'detail-left';
		$detail-left-x: 129px;
		$detail-left-y: 0px;
		$detail-left-offset-x: -129px;
		$detail-left-offset-y: 0px;
		$detail-left-width: 40px;
		$detail-left-height: 57px;
		$detail-left-total-width: 351px;
		$detail-left-total-height: 258px;
		$detail-left-image: '../images/sprite.png';
		$detail-left: (129px, 0px, -129px, 0px, 40px, 57px, 351px, 258px, '../images/sprite.png', 'detail-left', );
		$detail-right-name: 'detail-right';
		$detail-right-x: 219px;
		$detail-right-y: 0px;
		$detail-right-offset-x: -219px;
		$detail-right-offset-y: 0px;
		$detail-right-width: 40px;
		$detail-right-height: 57px;
		$detail-right-total-width: 351px;
		$detail-right-total-height: 258px;
		$detail-right-image: '../images/sprite.png';
		$detail-right: (219px, 0px, -219px, 0px, 40px, 57px, 351px, 258px, '../images/sprite.png', 'detail-right', );
		$history-left-name: 'history-left';
		$history-left-x: 0px;
		$history-left-y: 116px;
		$history-left-offset-x: 0px;
		$history-left-offset-y: -116px;
		$history-left-width: 40px;
		$history-left-height: 57px;
		$history-left-total-width: 351px;
		$history-left-total-height: 258px;
		$history-left-image: '../images/sprite.png';
		$history-left: (0px, 116px, 0px, -116px, 40px, 57px, 351px, 258px, '../images/sprite.png', 'history-left', );
		$history-right-name: 'history-right';
		$history-right-x: 90px;
		$history-right-y: 116px;
		$history-right-offset-x: -90px;
		$history-right-offset-y: -116px;
		$history-right-width: 40px;
		$history-right-height: 57px;
		$history-right-total-width: 351px;
		$history-right-total-height: 258px;
		$history-right-image: '../images/sprite.png';
		$history-right: (90px, 116px, -90px, -116px, 40px, 57px, 351px, 258px, '../images/sprite.png', 'history-right', );
		$home-name: 'home';
		$home-x: 0px;
		$home-y: 0px;
		$home-offset-x: 0px;
		$home-offset-y: 0px;
		$home-width: 79px;
		$home-height: 66px;
		$home-total-width: 351px;
		$home-total-height: 258px;
		$home-image: '../images/sprite.png';
		$home: (0px, 0px, 0px, 0px, 79px, 66px, 351px, 258px, '../images/sprite.png', 'home', );
		$left-off-name: 'left-off';
		$left-off-x: 309px;
		$left-off-y: 91px;
		$left-off-offset-x: -309px;
		$left-off-offset-y: -91px;
		$left-off-width: 21px;
		$left-off-height: 35px;
		$left-off-total-width: 351px;
		$left-off-total-height: 258px;
		$left-off-image: '../images/sprite.png';
		$left-off: (309px, 91px, -309px, -91px, 21px, 35px, 351px, 258px, '../images/sprite.png', 'left-off', );
		$left-on-name: 'left-on';
		$left-on-x: 0px;
		$left-on-y: 223px;
		$left-on-offset-x: 0px;
		$left-on-offset-y: -223px;
		$left-on-width: 21px;
		$left-on-height: 35px;
		$left-on-total-width: 351px;
		$left-on-total-height: 258px;
		$left-on-image: '../images/sprite.png';
		$left-on: (0px, 223px, 0px, -223px, 21px, 35px, 351px, 258px, '../images/sprite.png', 'left-on', );
		$right-off-name: 'right-off';
		$right-off-x: 71px;
		$right-off-y: 223px;
		$right-off-offset-x: -71px;
		$right-off-offset-y: -223px;
		$right-off-width: 21px;
		$right-off-height: 35px;
		$right-off-total-width: 351px;
		$right-off-total-height: 258px;
		$right-off-image: '../images/sprite.png';
		$right-off: (71px, 223px, -71px, -223px, 21px, 35px, 351px, 258px, '../images/sprite.png', 'right-off', );
		$right-on-name: 'right-on';
		$right-on-x: 142px;
		$right-on-y: 223px;
		$right-on-offset-x: -142px;
		$right-on-offset-y: -223px;
		$right-on-width: 21px;
		$right-on-height: 35px;
		$right-on-total-width: 351px;
		$right-on-total-height: 258px;
		$right-on-image: '../images/sprite.png';
		$right-on: (142px, 223px, -142px, -223px, 21px, 35px, 351px, 258px, '../images/sprite.png', 'right-on', );

	$spritesheet-width: 351px;
	$spritesheet-height: 258px;
	$spritesheet-image: '../images/sprite.png';
	$spritesheet-sprites: ($close, $date-icon, $detail-left, $detail-right, $history-left, $history-right, $home, $left-off, $left-on, $right-off, $right-on, );
	$spritesheet: (351px, 258px, '../images/sprite.png', $spritesheet-sprites, );
